:root {
    --color-background: #ffffff;
    --color-background-darker: #f3f6fa;
    --color-grey: #eaebec;
    --color-error: #ef476f;

    --color-pending: #073b4c;
    --color-running: #118ab2;
    --color-success: #06d6a0;
    --color-text-primary: #24292e;
    --color-warning: #ffd166;

    --main-color: #6873f9;
    --main-color-darker: #040749;
}

* {
	box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue';
}

.menu-bar {
    background-color: var(--main-color-darker);
    width: 50px;
    height: 100%;
    position: fixed;
}

.top-header {
    background-color: var(--color-background);
    font-family: 'Helvetica Neue';
    height: 75px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    margin-bottom: 20px;
    overflow-x: auto;
}

.top-header input {
    margin: auto;
    width: 250px;
    border: 1px solid #f4f7fa;
    border-radius: 5px;
    color: #f4f7fa;
    height: 30px;
}

.top-header .header-title {
    margin: auto;
    margin-left: 0;
    line-height: 1;
    font-size: 22px;
}

.main-container {
    background-color: var(--color-background-darker);
    padding-left: 50px;
    height: 100%;
}

.in-building {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 30px;
    justify-content: space-between;
}

.pipeline-card {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    padding: 10px;
}

.pipeline-card span.title {
    font-weight: bold;
}

.pipeline-card ul {
    list-style-type: none;
}

.pipeline-card ul li span.count {
    display: inline-block;
    width: 30px;
}

.pipeline-card span.pipeline-status a, .pipeline-card span.pipeline-status a:visited, .pipeline-card span.pipeline-status a:hover, .pipeline-card span.pipeline-status a:active {
    color: inherit;
}

.pipeline {
    font-weight: 200;
    margin-bottom: 10px;
}

#dataTable_wrapper {
    background-color: #fff;
    padding: 20px;
}

pre#logs {
    margin: 0;
    padding: 10px;
    font-family: "Monaco", monospace;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    background: black;
    color: #d6d6d6;
    overflow-x: scroll;
}

.status-succeeded {
    color: var(--color-success);
}
.status-running {
    color: var(--color-running);
}
.status-failed {
    color: var(--color-error);
}
.status-pending {
    color: var(--color-pending);
}

.pipeline-metadata {
    margin: auto;
}

.pipeline-metadata span {
    margin: 2px;
}

.owner-img {
    border-radius: 5px;
    width: 40px;
}

/* Rework clear framework */

.timeline {
    padding-left: 0;
    overflow-x: auto;
}

.clr-timeline-step clr-icon[shape=success-standard] {
    color: var(--color-success);
}

.clr-timeline-step clr-icon[shape=error-standard] {
    color: var(--color-error);
}

.clr-timeline-step clr-icon[shape=dot-circle] {
    color: var(--color-running);
}


@media (max-width: 600px) {
    .pipeline-metadata {
        display: none;
    }

    .menu-bar {
        display: none;
    }

    .main-container {
        padding-left: 0;
    }
}