{{ define "css-archived_logs" }}
    <link rel="stylesheet" href="/static/pipeline/main.css">
{{ end }}

{{ define "js-archived_logs" }}
<script type="text/javascript">
    BUILD_LOG_URL = "/{{.Owner}}/{{.Repository}}/{{.Branch}}/{{.Build}}";
    LOGS_URL = "/{{.Owner}}/{{.Repository}}/{{.Branch}}/{{.Build}}";
</script>
<script src="/static/lib/ansi_up.js" type="text/javascript" defer></script>
<script src="/static/pipeline/index.js" type="text/javascript" defer></script>
{{ end }}

{{ define "header-archived_logs" }}
<h1 class="header-title">
    <span class="pipeline-root-links">
      <span>Archived Logs for</span>
      <a href="/">Pipelines</a> &gt;
      <a href="/{{.Owner}}">{{.Owner}}</a> &gt;
      <a href="/{{.Owner}}/{{.Repository}}">{{.Repository}}</a> &gt;
      <span>{{.Branch}} Build {{.Build}}</span>
    </span>
  </h1>
{{ end }}

<div class="header-hidden">
    <h1>
        <span class="pipeline-root-links">
            <span>Archived Logs for</span>
            <a href="/">Pipelines</a> &gt;
            <a href="/{{.Owner}}">{{.Owner}}</a> &gt;
            <a href="/{{.Owner}}/{{.Repository}}">{{.Repository}}</a> &gt;
            <span>{{.Branch}} Build {{.Build}}</span>
        </span>
    </h1>
</div>

<section class="pipelines">
    <div class="logs-options">
        <div class="color-theme-option">
            <input type="checkbox" id="theme-switch" name="theme-switch" class="theme-switch__input" />
            <label for="theme-switch" class="theme-switch__label">
                <span></span>
            </label>
        </div>
        <div class="follow-option"></div>
        <div class="raw-logs-options">
            <a class="option-button" href="/{{.Owner}}/{{.Repository}}/{{.Branch}}/{{.Build}}/logs" target="_blank">View raw logs</a>
            <a class="option-button" id="downloadLogs" disabled="true" download="{{.Owner}}-{{.Repository}}-{{.Branch}}-{{.Build}}.txt">Download raw logs</a>
        </div>
    </div>
    <table class="error-logs-table">
        <colgroup>
            <col width="40">
            <col>
        </colgroup>
        <tbody id="errors"></tbody>
    </table>
    <table class="logs-table">
        <colgroup>
            <col width="40">
            <col>
        </colgroup>
        <tbody id="logs">
            <tr>
                <td></td>
                <td class="log-line">
                    <span class="line-text">Please wait while we get logs...</span>
                </td>
            </tr>
        </tbody>
    </table>
</section>
