{{ define "js-archived_logs" }}
<script src="/static/ansi_up.js" type="text/javascript"></script>
<script type="text/javascript">
    window.onload = () => {
        const ansi_up = new AnsiUp;
        const req = new XMLHttpRequest();
        req.addEventListener("load", () => {
            document.getElementById("logs").innerHTML = ansi_up.ansi_to_html(req.responseText);
        });
        req.addEventListener("error", () => {
            document.getElementById("errors").innerHTML = ansi_up.ansi_to_html(req.statusText);
        });
        req.open("GET", "/{{.Owner}}/{{.Repository}}/{{.Branch}}/{{.Build}}/logs");
        req.send();
    };
</script> 
{{ end }}

{{ define "header-archived_logs" }}
<h1 class="header-title">Archived Logs for Pipeline {{.Owner}}/{{.Repository}} {{.Branch}} Build {{.Build}}</h1>
{{ end }}

<div id="errors"></div>
<pre id="logs"></pre>
