{{ $root := . }}

{{ define "css-branch" }}
<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css" type="text/css" rel="stylesheet">
{{ end }}

{{ define "js-branch" }}
<script src="https://code.jquery.com/jquery-3.5.1.min.js" type="text/javascript" defer></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js" type="text/javascript" defer></script>
<script src="/static/branch/index.js" type="text/javascript" defer></script>
{{ end }}

{{ define "header-branch" }}
    <h1 class="header-title">{{ .Owner }}/{{ .Repository }}/{{ .Branch }} builds</h1>
{{ end}}

<section class="dataTable-container">
    <table id="dataTable" class="display">
        <thead>
            <tr>
                <th>Build</th>
                <th>Pipelines</th>
            </tr>
        </thead>
        <tbody>
            {{ range $build, $pipelines := .Builds }}
            <tr>
                <td><a href="/{{ $root.Owner }}/{{ $root.Repository }}/{{ $root.Branch }}/{{ $build }}">{{ $build }}</a></td>
                <td>{{ $pipelines }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</section>