{{ define "css-home" }}
    <link href="/static/lib/clr-icons.min.css" type="text/css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css" integrity="sha512-1k7mWiTNoyx2XtmI96o+hdjP8nn0f3Z2N4oF/9ZZRgijyV4omsKOXEnqL1gKQNPy2MTSP9rIEWGcH/CInulptA==" crossorigin="anonymous" type="text/css" rel="stylesheet" />
{{ end }}

{{ define "js-home" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" type="text/javascript" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" type="text/javascript" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" type="text/javascript" defer></script>
<script src="/static/lib/clr-icons.min.js" type="text/javascript" defer></script>
<script src="/static/home/index.js" type="text/javascript" defer></script>
{{ end }}

{{ define "header-home" }}
<h1 class="header-title">
    <span class="logo">
        <img src="/static/jenkins-x.svg" width="100px" />
    </span>
    <a href="/">Pipelines</a>
    {{ if (isAvailable . "Owner") }}
        &gt; <a href="/{{ .Owner }}">{{ .Owner }}</a>
        {{ if (isAvailable . "Repository") }}
            &gt; <a href="/{{ .Owner }}/{{ .Repository }}">{{ .Repository }}</a>
            {{ if (isAvailable . "Branch") }}
                &gt; <a href="/{{ .Owner }}/{{ .Repository }}/{{ .Branch }}">{{ .Branch }}</a>
            {{ end }}
        {{ end }}
    {{ end }}
    {{ if and (isAvailable . "Query") .Query }}
        &gt; <a href="?q={{ .Query }}">{{ .Query }}</a>
    {{ end }}
  </h1>
<!-- <input type="text" placeholder="Search Pipelines (not implemented)" /> -->
{{ end }}

<section class="in-building">
    <div class="clr-row">
        <div class="clr-col-12 clr-col-sm-6 clr-col-md-6 clr-col-lg-3 clr-col-xl-3">
            <div class="card pipeline-card">
                <span class="title card-header">Top Statuses</span>
                <ul class="card-block">
                    {{- range (sortPipelineCounts .Pipelines.Counts.Statuses) -}}
                    {{- if and .value -}}
                    <li>
                        <span class="count">{{ .value }}</span>
                        <span class='key label pipeline-status status-{{ lower .key | default "none" }}'>
                            {{- if or (eq .key "Other") (eq .key "") -}}
                            {{ .key | default "None" }}
                            {{- else -}}
                            <a href="?q=Status:{{ .key }}">{{ .key }}</a>
                            {{- end -}}
                        </span>
                    </li>
                    {{- end -}}
                    {{- end -}}
                </ul>
            </div>
        </div>
        <div class="clr-col-12 clr-col-sm-6 clr-col-md-6 clr-col-lg-3 clr-col-xl-3">
            <div class="card pipeline-card">
                <span class="title card-header">Top Repositories</span>
                <ul class="card-block">
                    {{- range (sortPipelineCounts .Pipelines.Counts.Repositories) -}}
                    {{- if and .key .value -}}
                    <li>
                        <span class="count">{{ .value }}</span>
                        <span class="key">
                            {{- if eq .key "Other" -}}
                            {{ .key }}
                            {{- else -}}
                            <a href="?q=Repository:{{ .key }}">{{ .key }}</a>
                            {{- end -}}
                        </span>
                    </li>
                    {{- end -}}
                    {{- end -}}
                </ul>
            </div>
        </div>
        <div class="clr-col-12 clr-col-sm-6 clr-col-md-6 clr-col-lg-3 clr-col-xl-3">
            <div class="card pipeline-card">
                <span class="title card-header">Top Authors</span>
                <ul class="card-block">
                    {{- range (sortPipelineCounts .Pipelines.Counts.Authors) -}}
                    {{- if and .key .value -}}
                    <li>
                        <span class="count">{{ .value }}</span>
                        <span class="key">
                            {{- if eq .key "Other" -}}
                            {{ .key }}
                            {{- else -}}
                            <a href="?q=Author:{{ .key }}">{{ .key }}</a>
                            {{- end -}}
                        </span>
                    </li>
                    {{- end -}}
                    {{- end -}}
                </ul>
            </div>
        </div>
        <div class="clr-col-12 clr-col-sm-6 clr-col-md-6 clr-col-lg-3 clr-col-xl-3">
            <div class="card pipeline-card">
                <span class="title card-header">Top Durations</span>
                <ul class="card-block">
                    {{- range (sortPipelineCounts .Pipelines.Counts.Durations) -}}
                    {{- if and .key .value -}}
                    <li>
                        <span class="count">{{ .value }}</span>
                        <span class="key">{{ .key }}</span>
                    </li>
                    {{- end -}}
                    {{- end -}}
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="dataTable-container">
    <table id="dataTable" class="display cell-border">
        <thead>
            <tr>
                <th class="repository">Repository</th>
                <th class="branch">Branch</th>
                <th class="build">Build</th>
                <th class="context">Context</th>
                <th class="status">Status</th>
                <th class="start">Start</th>
                <th class="end">End</th>
                <th class="duration">Duration</th>
                <th class="author"></th>
            </tr>
        </thead>
        <tbody>
            {{ range .Pipelines.Pipelines }}
            <tr>
                <td>
                    <a href="/{{ .Owner }}/{{ .Repository }}">{{ .Owner }}/{{ .Repository }}</a>
                    {{- if repositoryURL . -}}
                    <span>
                        <a href="{{ repositoryURL . }}"><clr-icon shape="pop-out" size="12"></clr-icon></a>
                    </span>
                    {{- end -}}
                </td>
                <td data-order="{{ .Branch }}">
                    {{- if authorURL . -}}
                    <a href="{{ authorURL . }}"><img src='{{ if not .AuthorAvatarURL }}{{ "/static/avatar.png" }}{{ else }}{{ .AuthorAvatarURL }}{{ end }}' title="{{ .Author }}" width="20px"></a>
                    {{- else -}}
                    <img src='{{ if not .AuthorAvatarURL }}{{ "/static/avatar.png" }}{{ else }}{{ .AuthorAvatarURL }}{{ end }}' title="{{ .Author }}" width="20px">
                    {{- end -}}
                    <span>
                        <a href="/{{ .Owner }}/{{ .Repository }}/{{ .Branch }}">{{ .Branch }}</a>
                    </span>
                    {{- if branchURL . -}}
                    <span>
                        <a href="{{ branchURL . }}"><clr-icon shape="pop-out" size="12"></clr-icon></a>
                    </span>
                    {{- end -}}
                </td>
                <td><a href="/{{ .Owner }}/{{ .Repository }}/{{ .Branch }}/{{ .Build }}">{{ .Build }}</a></td>
                <td>{{ .Context }}</td>
                <td class="status-{{ lower .Status }}" title="{{ .Description }}">{{ .Status }}</td>
                <td data-order='{{ .Start.Format "2006-01-02 15:04:05" }}'>
                    {{- if (vdate .Start).IsToday -}}
                        {{ .Start.Format "15:04:05" }}
                    {{- else -}}
                        {{ .Start.Format "2006-01-02 15:04:05" }}
                    {{- end -}}
                </td>
                <td data-order='{{ if not .End.IsZero }}{{ .End.Format "2006-01-02 15:04:05" }}{{ end }}'>
                    {{- if not .End.IsZero }}
                        {{- if (vdate .End).IsToday -}}
                            {{ .End.Format "15:04:05" }}
                        {{- else -}}
                            {{ .End.Format "2006-01-02 15:04:05" }}
                        {{- end -}}
                    {{- end -}}
                </td>
                <td data-order="{{ .Duration.Seconds }}">{{ with .Duration }}{{ . }}{{ end }}</td>
                <td>{{ .Author }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</section>