{{ define "css-home" }}
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css" type="text/css" rel="stylesheet">
{{ end }}

{{ define "js-home" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" type="text/javascript" defer></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" type="text/javascript" defer></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js" type="text/javascript" defer></script>
<script src="/static/home/index.js" type="text/javascript" defer></script>
{{ end }}


{{ define "header-home" }}
    <h1 class="header-title">Jenkins X Pipelines</h1>
    <!-- <input type="text" placeholder="Search Pipelines (not implemented)" /> -->
{{ end}}
        
<section class="in-building">
    <div class="pipeline-cards">
        {{ range slice .Pipelines.RecentPipelines }}
            <div class="pipeline-card">
                <span class="repository"><a class="repository-link" href="/{{ .Owner }}/{{ .Repository }}">{{ .Owner }}/{{ .Repository }}</a></span>
                <span class="pipeline">{{ .Context }}</span>
                {{ if .Duration }}
                <span class="time">during {{ with .Duration }}{{ . }}{{ end }}</span>
                {{ else }}
                <span class="time">start at {{ .Start.Format "15:04:05" }} </span>
                {{ end }}
            </div>
        {{ end }}
    </div>
</section>
<section class="dataTable-container">
    <table id="dataTable" class="display cell-border">
        <thead>
            <tr>
                <th class="repository">Repository</th>
                <th class="branch">Branch</th>
                <th class="build">Build</th>
                <th class="context">Context</th>
                <th class="status">Status</th>
                <th class="start">Start</th>
                <th class="end">End</th>
                <th class="duration">Duration</th>
                <th class="author"></th>
            </tr>
        </thead>
        <tbody>
            {{ range .Pipelines.Pipelines }}
            <tr>
                <td><a href="/{{ .Owner }}/{{ .Repository }}">{{ .Owner }}/{{ .Repository }}</a></td>
                <td data-order="{{ .Branch }}"><img src='{{ if not .AuthorAvatarURL }}{{ "/static/avatar.png" }}{{ else }}{{ .AuthorAvatarURL }}{{ end }}' title="{{ .Author }}" width="20px"> <a href="/{{ .Owner }}/{{ .Repository }}/{{ .Branch }}">{{ .Branch }}</a></td>
                <td><a href="/{{ .Owner }}/{{ .Repository }}/{{ .Branch }}/{{ .Build }}">{{ .Build }}</a></td>
                <td>{{ .Context }}</td>
                <td class="status-{{ lower .Status }}">{{ .Status }}</td>
                <td data-order='{{ .Start.Format "2006-01-02 15:04:05" }}'>
                    {{- if (vdate .Start).IsToday -}}
                        {{ .Start.Format "15:04:05" }}
                    {{- else -}}
                        {{ .Start.Format "2006-01-02 15:04:05" }}
                    {{- end -}}
                </td>
                <td data-order='{{ if not .End.IsZero }}{{ .End.Format "2006-01-02 15:04:05" }}{{ end }}'>
                    {{- if not .End.IsZero }}
                        {{- if (vdate .End).IsToday -}}
                            {{ .End.Format "15:04:05" }}
                        {{- else -}}
                            {{ .End.Format "2006-01-02 15:04:05" }}
                        {{- end -}}
                    {{- end -}}
                </td>
                <td data-order="{{ .Duration.Seconds }}">{{ with .Duration }}{{ . }}{{ end }}</td>
                <td>{{ .Author }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</section>