<html>
<head>
    {{ partial "css" }}
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="stylesheet" href="/static/lib/clr-ui.min.css" />
    <link href="/static/app.css?v={{ appVersion }}" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ partial "js" }}
</head>
<body>
    <div class="menu-bar"></div>
    <main class="main-container">
        <header class="top-header">
            {{ partial "header" }}
        </header>
        {{ yield }}
    </main>
</body>
</html>