{{ define "css-pipeline" }}
    <link rel="stylesheet" href="/static/lib/clr-icons.min.css">
    <link rel="stylesheet" href="/static/pipeline/main.css?v={{ appVersion }}">
{{ end }}

{{ define "js-pipeline" }}
    <script type="text/javascript">
        BUILD_LOG_URL = "{{.Pipeline.Spec.BuildLogsURL}}";
        LOGS_URL = "/{{.Pipeline.Spec.GitOwner}}/{{.Pipeline.Spec.GitRepository}}/{{.Pipeline.Spec.GitBranch}}/{{.Pipeline.Spec.Build}}";
    </script>
    <script src="/static/lib/custom-elements.min.js" defer></script>
    <script src="/static/lib/clr-icons.min.js" defer></script>
    <script src="/static/lib/ansi_up.js" type="text/javascript" defer></script>
    <script src="/static/pipeline/index.js?v={{ appVersion }}" type="text/javascript" defer></script>
{{ end }}

{{ define "header-pipeline" }}
<h1 class="header-title">
  <span class="logo">
    <img src="/static/jenkins-x.svg" width="100px" />
  </span>
  <span class="pipeline-root-links">
    <a href="/">Pipelines</a> &gt;
    <a href="/{{ .Pipeline.Spec.GitOwner }}">{{ .Pipeline.Spec.GitOwner }}</a> &gt;
    <a href="/{{ .Pipeline.Spec.GitOwner }}/{{ .Pipeline.Spec.GitRepository }}">{{ .Pipeline.Spec.GitRepository }}</a> &gt;
  </span>
  <a href="/{{ .Pipeline.Spec.GitOwner }}/{{ .Pipeline.Spec.GitRepository }}/{{ .Pipeline.Spec.GitBranch }}">{{ .Pipeline.Spec.GitBranch }}</a>
  {{ .Pipeline.Spec.Context }} #{{ .Pipeline.Spec.Build }}
  <span class="status-{{ .Pipeline.Spec.Status }}">{{ .Pipeline.Spec.Status }}</span>
</h1>
<div class="pipeline-metadata">
    <span>
        <a href="{{ .Pipeline.Spec.AuthorURL }}">
            <img src='{{ if not .Pipeline.Spec.AuthorAvatarURL }}{{ "/static/avatar.png" }}{{ else }}{{ .Pipeline.Spec.AuthorAvatarURL }}{{ end }}' title="{{ .Pipeline.Spec.AuthorURL }}" class="owner-img" />
        </a>
    </span>
    <span>
        {{- if .Pipeline.Spec.PullTitle -}}
            <a href="{{ pipelinePullRequestURL .Pipeline }}">{{ .Pipeline.Spec.PullTitle }}</a>
        {{- else -}}
            <a href="{{ .Pipeline.Spec.ReleaseNotesURL }}">Release {{ base .Pipeline.Spec.ReleaseNotesURL }}</a>
        {{- end -}}
    </span>
</div>
{{ end }}

<div class="header-hidden">
    <h1>
        <span class="pipeline-root-links">
            <a href="/">Pipelines</a>/
            <a href="/{{ .Pipeline.Spec.GitOwner }}">{{ .Pipeline.Spec.GitOwner }}</a>/
            <a href="/{{ .Pipeline.Spec.GitOwner }}/{{ .Pipeline.Spec.GitRepository }}">{{ .Pipeline.Spec.GitRepository }}</a>/
        </span>
        <a href="/{{ .Pipeline.Spec.GitOwner }}/{{ .Pipeline.Spec.GitRepository }}/{{ .Pipeline.Spec.GitBranch }}">{{ .Pipeline.Spec.GitBranch }}</a>
        {{ .Pipeline.Spec.Context }} #{{ .Pipeline.Spec.Build }}
        <span class="status-{{ .Pipeline.Spec.Status }}">{{ .Pipeline.Spec.Status }}</span>
    </h1>
</div>

<section class="in-building">
    <ul class="clr-timeline timeline">
        {{ range $pipeStep := .Pipeline.Spec.Steps }}
            {{ if $pipeStep.Stage }}
            <li class="clr-timeline-step">
                <div class="clr-timeline-step-header">
                    {{- if and $pipeStep.Stage.StartedTimestamp $pipeStep.Stage.CompletedTimestamp }}
                        {{ $pipeStep.Stage.CompletedTimestamp.Sub $pipeStep.Stage.StartedTimestamp.Time }}
                    {{ else if $pipeStep.Stage.StartedTimestamp }}
                        Started at {{ $pipeStep.Stage.StartedTimestamp.Format "15:04:05" }}
                    {{ else }}
                        {{ $pipeStep.Stage.Status }}
                    {{ end }}
                </div>
                {{- if (eq $pipeStep.Stage.Status "Succeeded")}}
                    <clr-icon shape="success-standard" aria-label="Completed" title="{{ $pipeStep.Stage.Description }}"></clr-icon>
                {{- else if (eq $pipeStep.Stage.Status "Running")}}
                    <clr-icon shape="dot-circle" aria-current="true" aria-label="Current" title="{{ $pipeStep.Stage.Description }}"></clr-icon>
                {{- else if (eq $pipeStep.Stage.Status "Failed")}}
                    <clr-icon shape="error-standard" aria-label="Error" title="{{ $pipeStep.Stage.Description }}"></clr-icon>
                {{- else }}
                    <clr-icon shape="circle" aria-label="Not started"></clr-icon>
                {{end}}
                <div class="clr-timeline-step-body">
                    <span class="clr-timeline-step-title" title="{{ $pipeStep.Stage.Description }}">
                        <a class="stage-steps-link" href='#steps-{{ $pipeStep.Stage.Name | lower | replace " " "-" }}'>{{ $pipeStep.Stage.Name }}</a>
                    </span>
                    {{- if (eq $pipeStep.Stage.Status "Failed") -}}
                    <span class="clr-timeline-step-description">{{ $pipeStep.Stage.Description }}</span>
                    {{- end -}}
                </div>
            </li>
            {{ end }}
        {{ end }}
    </ul>
</section>
<section class="pipelines">
    <div class="logs-options">
        <div class="color-theme-option">
            <input type="checkbox" id="theme-switch" name="theme-switch" class="theme-switch__input" />
            <label for="theme-switch" class="theme-switch__label">
                <span></span>
            </label>
        </div>
        <div class="steps-option">
            <input class="display-steps" type="checkbox" name="display">
            <label for="display">Display steps</label>
        </div>
        <div class="follow-option">
            <input class="follow-logs" type="checkbox" name="follow" checked>
            <label for="follow">Follow logs</label>
        </div>
        <div class="raw-logs-options">
            <a class="option-button" href="/{{.Pipeline.Spec.GitOwner}}/{{.Pipeline.Spec.GitRepository}}/{Pipeline.Spec.GitBranch}}/{{.Pipeline.Spec.Build}}/logs" target="_blank">View raw logs</a>
            <a class="option-button" id="downloadLogs" download="{{.Pipeline.Spec.GitOwner}}-{{.Pipeline.Spec.GitRepository}}-{{.Pipeline.Spec.GitBranch}}-{{.Pipeline.Spec.Build}}.txt">Download raw logs</a>
        </div>
    </div>
    <div class="steps in-building">
        {{- range $pipeStep := .Pipeline.Spec.Steps -}}
        {{- if $pipeStep.Stage -}}
        <div class="stage steps-hidden" id='steps-{{ $pipeStep.Stage.Name | lower | replace " " "-" }}'>
            <span class="stage-name">{{ $pipeStep.Stage.Name }}</span>
            <ul class="clr-timeline clr-timeline-vertical">
                {{- range $step := $pipeStep.Stage.Steps -}}
                <li class="clr-timeline-step">
                    <div class="clr-timeline-step-header">
                        {{- if and $step.StartedTimestamp $step.CompletedTimestamp }}
                            {{ $step.CompletedTimestamp.Sub $step.StartedTimestamp.Time }}
                        {{ else if $step.StartedTimestamp }}
                            Started at {{ $step.StartedTimestamp.Format "15:04:05" }}
                        {{ else }}
                            {{ $step.Status }}
                        {{ end }}
                    </div>
                    {{- if (eq $step.Status "Succeeded")}}
                        <clr-icon shape="success-standard" aria-label="Completed" title="{{ $step.Description }}"></clr-icon>
                    {{- else if (eq $step.Status "Running")}}
                        <clr-icon shape="dot-circle" aria-current="true" aria-label="Current" title="{{ $step.Description }}"></clr-icon>
                    {{- else if (eq $step.Status "Failed")}}
                        <clr-icon shape="error-standard" aria-label="Error" title="{{ $step.Description }}"></clr-icon>
                    {{- else }}
                        <clr-icon shape="circle" aria-label="Not started"></clr-icon>
                    {{end}}
                    <div class="clr-timeline-step-body">
                        <span class="clr-timeline-step-title" title="{{ $step.Description }}">
                            {{- if hasPrefix "step" (lower $step.Name) -}}
                                <a href='#log-{{ $pipeStep.Stage.Name | lower | replace " " "-" }}-{{ $step.Name | lower | replace " " "-" }}'>{{ $step.Name }}</a>
                            {{- else -}}
                                <a href='#log-{{ $pipeStep.Stage.Name | lower | replace " " "-" }}-step-{{ $step.Name | lower | replace " " "-" }}'>{{ $step.Name }}</a>
                            {{- end -}}
                        </span>
                        {{- if (eq $step.Status "Failed") -}}
                        <span class="clr-timeline-step-description">{{ $step.Description }}</span>
                        {{- end -}}
                    </div>
                </li>
                {{- end -}}
            </ul>
        </div>
        {{- end -}}
        {{- end -}}
    </div>
    <table class="error-logs-table">
        <colgroup>
            <col width="40">
            <col>
        </colgroup>
        <tbody id="errors"></tbody>
    </table>
    <table class="logs-table">
        <colgroup>
            <col width="40">
            <col>
        </colgroup>
        <tbody id="logs">
            <tr>
                <td></td>
                <td class="log-line">
                    <span class="line-text">Please wait while we get logs...</span>
                </td>
            </tr>
        </tbody>
    </table>
</section>