{{ define "css-pipeline" }}
    <link rel="stylesheet" href="/static/lib/clr-icons.min.css">
    <link rel="stylesheet" href="/static/pipeline/main.css?v={{ appVersion }}">
{{ end }}

{{ define "js-pipeline" }}
    <script type="text/javascript">
        BUILD_LOG_URL = "{{.Pipeline.Spec.BuildLogsURL}}";
        LOGS_URL = "/{{.Pipeline.Spec.GitOwner}}/{{.Pipeline.Spec.GitRepository}}/{{.Pipeline.Spec.GitBranch}}/{{.Pipeline.Spec.Build}}";
    </script>
    <script src="/static/lib/custom-elements.min.js" defer></script>
    <script src="/static/lib/clr-icons.min.js" defer></script>
    <script src="/static/lib/ansi_up.js" type="text/javascript" defer></script>
    <script src="/static/pipeline/index.js?v={{ appVersion }}" type="text/javascript" defer></script>
{{ end }}

{{ define "header-pipeline" }}
<h1 class="header-title">
  <span class="logo">
    <img src="/static/jenkins-x.svg" width="100px" />
  </span>
  <span class="pipeline-root-links">
    <a href="/">Pipelines</a> &gt;
    <a href="/{{ .Pipeline.Spec.GitOwner }}">{{ .Pipeline.Spec.GitOwner }}</a> &gt;
    <a href="/{{ .Pipeline.Spec.GitOwner }}/{{ .Pipeline.Spec.GitRepository }}">{{ .Pipeline.Spec.GitRepository }}</a> &gt;
  </span>
  <a href="/{{ .Pipeline.Spec.GitOwner }}/{{ .Pipeline.Spec.GitRepository }}/{{ .Pipeline.Spec.GitBranch }}">{{ .Pipeline.Spec.GitBranch }}</a>
  {{ .Pipeline.Spec.Context }} #{{ .Pipeline.Spec.Build }}
</h1>
{{ end }}

<div class="header-hidden">
    <h1>
        <span class="pipeline-root-links">
            <a href="/">Pipelines</a>/
            <a href="/{{ .Pipeline.Spec.GitOwner }}">{{ .Pipeline.Spec.GitOwner }}</a>/
            <a href="/{{ .Pipeline.Spec.GitOwner }}/{{ .Pipeline.Spec.GitRepository }}">{{ .Pipeline.Spec.GitRepository }}</a>/
        </span>
        <a href="/{{ .Pipeline.Spec.GitOwner }}/{{ .Pipeline.Spec.GitRepository }}/{{ .Pipeline.Spec.GitBranch }}">{{ .Pipeline.Spec.GitBranch }}</a>
        {{ .Pipeline.Spec.Context }} #{{ .Pipeline.Spec.Build }}
        <span class="status-{{ .Pipeline.Spec.Status }}">{{ .Pipeline.Spec.Status }}</span>
    </h1>
</div>

<section class="in-building">
    <div class="clr-row">
        <div class="clr-col-12 clr-col-sm-6 clr-col-md-6 clr-col-lg-3 clr-col-xl-3">
            <div class="card pipeline-card">
                <span class="title card-header">Pipeline</span>
                <ul class="card-block">
                    <li>
                        <span class="title">Name</span>
                        <span>{{ .Pipeline.Name }}</span>
                    </li>
                    <li>
                        <span class="title">Context</span>
                        <span>{{ .Pipeline.Spec.Context }}</span>
                    </li>
                    <li>
                        <span class="title">Build</span>
                        <span>{{ .Pipeline.Spec.Build }}</span>
                    </li>
                    <li>
                        <span class="title">YAML</span>
                        <span>
                            <a href="/{{.Pipeline.Spec.GitOwner}}/{{.Pipeline.Spec.GitRepository}}/{{.Pipeline.Spec.GitBranch}}/{{.Pipeline.Spec.Build}}.yaml" target="_blank">View raw YAML</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clr-col-12 clr-col-sm-6 clr-col-md-6 clr-col-lg-3 clr-col-xl-3">
            <div class="card pipeline-card">
                <span class="title card-header">Status</span>
                <ul class="card-block">
                    <li>
                        <span class="title">Status</span>
                        <span class="status-{{ .Pipeline.Spec.Status | toString | lower }}" title='{{ index .Pipeline.Annotations "description" }}'>{{ .Pipeline.Spec.Status }}</span>
                    </li>
                    <li>
                        <span class="title">Started</span>
                        <span>
                            {{- if .Pipeline.Spec.StartedTimestamp -}}
                            {{ .Pipeline.Spec.StartedTimestamp.Format "2006-01-02 15:04:05" }}
                            {{- else -}}
                            {{ .Pipeline.CreationTimestamp.Format "2006-01-02 15:04:05" }}
                            {{- end -}}
                        </span>
                    </li>
                    <li>
                        <span class="title">Finished</span>
                        <span>
                            {{- if .Pipeline.Spec.CompletedTimestamp -}}
                            {{ .Pipeline.Spec.CompletedTimestamp.Format "2006-01-02 15:04:05" }}
                            {{- end -}}
                        </span>
                    </li>
                    <li>
                        <span class="title">Duration</span>
                        <span>
                            {{- if and .Pipeline.Spec.StartedTimestamp .Pipeline.Spec.CompletedTimestamp -}}
                            {{ .Pipeline.Spec.CompletedTimestamp.Sub .Pipeline.Spec.StartedTimestamp.Time }}
                            {{- end -}}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clr-col-12 clr-col-sm-6 clr-col-md-6 clr-col-lg-3 clr-col-xl-3">
            <div class="card pipeline-card">
                <span class="title card-header">Source</span>
                <ul class="card-block">
                    <li>
                        <span class="title">Repo</span>
                        <span>
                            {{- if repositoryURL .Pipeline -}}
                            <a href="{{ repositoryURL .Pipeline }}">{{ .Pipeline.Spec.GitOwner }}/{{ .Pipeline.Spec.GitRepository }}</a>
                            {{- else -}}
                            {{ .Pipeline.Spec.GitOwner }}/{{ .Pipeline.Spec.GitRepository }}
                            {{- end -}}
                        </span>
                    </li>
                    {{- if pipelinePullRequestURL .Pipeline -}}
                    <li>
                        <span class="title">PR</span>
                        <span>
                            <a href="{{ pipelinePullRequestURL .Pipeline }}" title="{{ .Pipeline.Spec.PullTitle }}">{{ .Pipeline.Spec.GitBranch | replace "PR-" "" }}</a>
                        </span>
                    </li>
                    {{- else -}}
                    <li>
                        <span class="title">Branch</span>
                        <span>
                            {{- if branchURL .Pipeline -}}
                            <a href="{{ branchURL .Pipeline }}">{{ .Pipeline.Spec.GitBranch }}</a>
                            {{- else -}}
                            {{ .Pipeline.Spec.GitBranch }}
                            {{- end -}}
                        </span>
                    </li>
                    {{- end -}}
                    <li>
                        <span class="title">Commit</span>
                        <span>
                            {{- if commitURL .Pipeline -}}
                            <a href="{{ commitURL .Pipeline }}" title="{{ .Pipeline.Spec.LastCommitMessage }}">{{ .Pipeline.Spec.LastCommitSHA | substr 0 10 }}</a>
                            {{- else -}}
                            {{ .Pipeline.Spec.LastCommitSHA | substr 0 10 }}
                            {{- end -}}
                        </span>
                    </li>
                    {{- if .Pipeline.Spec.Version -}}
                    <li>
                        <span class="title">Version</span>
                        <span>
                            {{- if .Pipeline.Spec.ReleaseNotesURL -}}
                            <a href="{{ .Pipeline.Spec.ReleaseNotesURL }}">{{ .Pipeline.Spec.Version }}</a>
                            {{- else -}}
                            {{ .Pipeline.Spec.Version }}
                            {{- end -}}
                        </span>
                    </li>
                    {{- end -}}
                    <li>
                        <span class="title">Author</span>
                        <span>
                            {{- if authorURL .Pipeline -}}
                            <a href="{{ authorURL .Pipeline }}"><img src='{{ if not .Pipeline.Spec.AuthorAvatarURL }}{{ "/static/avatar.png" }}{{ else }}{{ .Pipeline.Spec.AuthorAvatarURL }}{{ end }}' title="{{ .Pipeline.Spec.Author }}" width="20px" class="author-avatar">{{ .Pipeline.Spec.Author }}</a>
                            {{- else -}}
                            <img src='{{ if not .Pipeline.Spec.AuthorAvatarURL }}{{ "/static/avatar.png" }}{{ else }}{{ .Pipeline.Spec.AuthorAvatarURL }}{{ end }}' title="{{ .Pipeline.Spec.Author }}" width="20px"> {{ .Pipeline.Spec.Author }}
                            {{- end -}}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clr-col-12 clr-col-sm-6 clr-col-md-6 clr-col-lg-3 clr-col-xl-3">
            <div class="card pipeline-card">
                <span class="title card-header">Stages</span>
                <ul class="card-block stages">
                    {{- range .Pipeline.Spec.Steps -}}
                    {{- if .Stage -}}
                    <li>
                        <span>
                            <a class="stage-steps-link" href='#steps-{{ .Stage.Name | lower | replace " " "-" }}'>{{ .Stage.Name }}</a>
                        </span>
                        {{- if .Stage.Status -}}
                            <span class="status-{{ .Stage.Status | toString | lower }}" title='{{ .Stage.Description }}'>{{ .Stage.Status }}</span>
                        {{- end -}}
                        {{- if and .Stage.StartedTimestamp .Stage.CompletedTimestamp }}
                            <span>in {{ .Stage.CompletedTimestamp.Sub .Stage.StartedTimestamp.Time }}</span>
                        {{ else if .Stage.StartedTimestamp }}
                            <span>started at {{ .Stage.StartedTimestamp.Format "15:04:05" }}</span>
                        {{ end }}
                    </li>
                    {{- end -}}
                    {{- end -}}
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="pipelines">
    <div class="logs-options">
        <div class="color-theme-option">
            <input type="checkbox" id="theme-switch" name="theme-switch" class="theme-switch__input" />
            <label for="theme-switch" class="theme-switch__label">
                <span></span>
            </label>
        </div>
        <div class="steps-option">
            <input class="display-steps" type="checkbox" name="display">
            <label for="display">Display steps</label>
        </div>
        <div class="follow-option">
            <input class="follow-logs" type="checkbox" name="follow" checked>
            <label for="follow">Follow logs</label>
        </div>
        <div class="raw-logs-options">
            <a class="option-button" href="/{{.Pipeline.Spec.GitOwner}}/{{.Pipeline.Spec.GitRepository}}/{{.Pipeline.Spec.GitBranch}}/{{.Pipeline.Spec.Build}}/logs" target="_blank">View raw logs</a>
            <a class="option-button" id="downloadLogs" download="{{.Pipeline.Spec.GitOwner}}-{{.Pipeline.Spec.GitRepository}}-{{.Pipeline.Spec.GitBranch}}-{{.Pipeline.Spec.Build}}.txt">Download raw logs</a>
        </div>
    </div>
    <div class="steps in-building">
        {{- range $pipeStep := .Pipeline.Spec.Steps -}}
        {{- if $pipeStep.Stage -}}
        <div class="stage steps-hidden" id='steps-{{ $pipeStep.Stage.Name | lower | replace " " "-" }}'>
            <span class="stage-name">{{ $pipeStep.Stage.Name }}</span>
            <ul class="clr-timeline clr-timeline-vertical">
                {{- range $step := $pipeStep.Stage.Steps -}}
                <li class="clr-timeline-step">
                    <div class="clr-timeline-step-header">
                        {{- if and $step.StartedTimestamp $step.CompletedTimestamp }}
                            {{ $step.CompletedTimestamp.Sub $step.StartedTimestamp.Time }}
                        {{ else if $step.StartedTimestamp }}
                            Started at {{ $step.StartedTimestamp.Format "15:04:05" }}
                        {{ else }}
                            {{ $step.Status }}
                        {{ end }}
                    </div>
                    {{- if (eq $step.Status "Succeeded")}}
                        <clr-icon shape="success-standard" aria-label="Completed" title="{{ $step.Description }}"></clr-icon>
                    {{- else if (eq $step.Status "Running")}}
                        <clr-icon shape="dot-circle" aria-current="true" aria-label="Current" title="{{ $step.Description }}"></clr-icon>
                    {{- else if (eq $step.Status "Failed")}}
                        <clr-icon shape="error-standard" aria-label="Error" title="{{ $step.Description }}"></clr-icon>
                    {{- else }}
                        <clr-icon shape="circle" aria-label="Not started"></clr-icon>
                    {{end}}
                    <div class="clr-timeline-step-body">
                        <span class="clr-timeline-step-title" title="{{ $step.Description }}">
                            {{- if hasPrefix "step" (lower $step.Name) -}}
                                <a href='#log-{{ $pipeStep.Stage.Name | lower | replace " " "-" }}-{{ $step.Name | lower | replace " " "-" }}'>{{ $step.Name }}</a>
                            {{- else -}}
                                <a href='#log-{{ $pipeStep.Stage.Name | lower | replace " " "-" }}-step-{{ $step.Name | lower | replace " " "-" }}'>{{ $step.Name }}</a>
                            {{- end -}}
                        </span>
                        {{- if (eq $step.Status "Failed") -}}
                        <span class="clr-timeline-step-description">{{ $step.Description }}</span>
                        {{- end -}}
                    </div>
                </li>
                {{- end -}}
            </ul>
        </div>
        {{- end -}}
        {{- end -}}
    </div>
    <table class="error-logs-table">
        <colgroup>
            <col width="40">
            <col>
        </colgroup>
        <tbody id="errors"></tbody>
    </table>
    <table class="logs-table">
        <colgroup>
            <col width="40">
            <col>
        </colgroup>
        <tbody id="logs">
            <tr>
                <td></td>
                <td class="log-line">
                    <span class="line-text">Please wait while we get logs...</span>
                </td>
            </tr>
        </tbody>
    </table>
</section>