# Default values for the Helm Chart

fullnameOverride:
nameOverride:
gitSecretName: tekton-git
config:
  # gs://BUCKET_NAME/jenkins-x/logs/{{.Owner}}/{{.Repository}}/{{if hasPrefix .Branch \"pr\"}}{{.Branch | upper}}{{else}}{{.Branch}}{{end}}/{{.Build}}.log
  archivedLogsURLTemplate:
  # gs://BUCKET_NAME/jenkins-x/logs/{{.Owner}}/{{.Repository}}/{{if hasPrefix .Branch \"pr\"}}{{.Branch | upper}}{{else}}{{.Branch}}{{end}}/{{.Build}}.yaml
  archivedPipelinesURLTemplate:
  # gs://BUCKET_NAME/jenkins-x/pipelineruns/{{.Namespace}}/{{.Name}}.yaml
  archivedPipelineRunsURLTemplate:
  # https://GRAFANA_URL/explore?left=%5B%22now%22,%22now%22,%22Tempo%22,%7B%22query%22:%22{{.TraceID}}%22%7D%5D
  pipelineTraceURLTemplate:
  namespace: jx
  resyncInterval: 60s
  logLevel: INFO
image:
  repository: gcr.io/jenkinsxio/jx-pipelines-visualizer
  # If no tag, fallback to the Chart's AppVersion
  tag: 1.6.3
  pullPolicy:
deployment:
  replicas: 1
  revisionHistoryLimit: 2
  labels: {}
  annotations: {}
pod:
  resources:
    requests:
      cpu: "0.2"
      memory: 128M
    limits:
      cpu: "1"
      memory: 512M
  labels: {}
  annotations: {}
  activeDeadlineSeconds:
  enableServiceLinks: false
  terminationGracePeriodSeconds:
  affinity: {}
  nodeSelector: {}
  tolerations: []
  hostAliases: []
  schedulerName:
  securityContext:
    fsGroup: 1000
  env: {}
  envFrom: []
service:
  port: 80
  type:
  loadBalancerIP:
  labels: {}
  annotations: {}
ingress:
  enabled: false
  class: nginx
  labels: {}
  annotations: {}
  # hosts:
  # - pipelines.example.com
  # - pipelines.foo.bar
  hosts: []
  # enables basic auth secret to be created
  basicAuth:
    enabled: false
    authData: ""
  tls:
    enabled: false
    # secrets:
    #   embedded:
    #     b64encodedCertificate: e30k
    #     b64encodedCertificateKey: e30k
    #     hosts:
    #     - pipelines.example.com
    #   existing-secret-name: {}
    #   existing-secret-name-with-custom-hosts:
    #     hosts:
    #     - pipelines.foo.bar 
    secrets: {}
istio:
  enabled: false
  apiVersion: networking.istio.io/v1beta1
  gateway: jx-gateway
jx:
  # whether to create a Release CRD when installing charts with Release CRDs included
  releaseCRD: true
serviceAccount:
  # allow additional annotations to be added to the ServiceAccount
  # such as for workload identity on clouds
  annotations: {}
role:
  rules:
    - apiGroups:
        - jenkins.io
      resources:
        - pipelineactivities
        - pipelinestructures
      verbs:
        - list
        - watch
        - get
    - apiGroups:
        - tekton.dev
      resources:
        - pipelineruns
      verbs:
        - list
        - watch
        - get
    - apiGroups:
        - ""
      resources:
        - pods
      verbs:
        - list
        - watch
        - get
    - apiGroups:
        - ""
      resources:
        - pods/log
      verbs:
        - get
