# Default values for the Helm Chart

fullnameOverride:
nameOverride:

config:
  # gs://BUCKET_NAME/jenkins-x/logs/{{.Owner}}/{{.Repository}}/{{if hasPrefix .Branch \"pr\"}}{{.Branch | upper}}{{else}}{{.Branch}}{{end}}/{{.Build}}.log
  archivedLogsURLTemplate:
  namespace: jx
  resyncInterval: 60s
  logLevel: INFO

image:
  repository: gcr.io/jx-labs-infra/jx-pipelines-visualizer
  # If no tag, fallback to the Chart's AppVersion
  tag: 0.0.45
  pullPolicy:

deployment:
  replicas: 1
  revisionHistoryLimit: 2
  labels: {}
  annotations: {}

pod:
  resources:
    requests:
      cpu: "0.2"
      memory: 128M
    limits:
      cpu: "1"
      memory: 512M
  labels: {}
  annotations: {}
  activeDeadlineSeconds:
  enableServiceLinks: false
  terminationGracePeriodSeconds:
  affinity: {}
  nodeSelector: {}
  tolerations: []
  hostAliases: []
  schedulerName:

service:
  port: 80
  type:
  loadBalancerIP:
  labels: {}
  annotations: {}

ingress:
  enabled: false
  labels: {}
  annotations: {}

  #hosts:
  #- pipelines.example.com
  hosts: []


  # enables basic auth secret to be created
  basicAuth:
    enabled: false
    authData: ""

  tls:
    enabled: false

    #secrets:
    #  embedded:
    #    b64encodedCertificate: e30k
    #    b64encodedCertificateKey: e30k
    #  existing-secret-name: {}
    secrets: {}

serviceAccount:
  # allow additional annotations to be added to the ServiceAccount
  # such as for workload identity on clouds
  annotations: {}

role:
  rules:
  - apiGroups:
    - jenkins.io
    resources:
    - pipelineactivities
    - pipelinestructures
    verbs:
    - list
    - watch
    - get
  - apiGroups:
    - tekton.dev
    resources:
    - pipelineruns
    verbs:
    - list
    - watch
    - get
  - apiGroups:
    - ""
    resources:
    - pods
    verbs:
    - list
    - watch
    - get
  - apiGroups:
    - ""
    resources:
    - pods/log
    verbs:
    - get
