.line-text {
    overflow: visible;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 12px;
    color: var(--color-text-log);
    white-space: pre-wrap;
    word-break: break-word;
}

.line-error {
    color: var(--color-error);
}

.log-number {
    width: 1%;
    min-width: 50px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 12px;
    line-height: 20px;
    color: var(--color-line-number);
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
}

.log-number:before {
    content: attr(data-line-number);
}

.log-number:hover {
    color: var(--color-line-number-hover);
}

.log-line {
    padding-left: 18px;
    text-indent: -7px;
    position: relative;
    padding-right: 10px;
    line-height: 20px;
    vertical-align: top;
}

.logs-table {
    --color-text-log: #24292e;
    --color-bg-log: #ffffff;

    --color-line-number: #1b1f234d;
    --color-line-number-hover: #1b1f2399;
    --color-line-selected: #6874f970;

    background-color: var(--color-bg-log);
    padding-top: 20px;
    width: 100%;
}

.logs-dark-theme {
    --color-bg-log: #1e1e1e;
    --color-text-log: #f7f7f7;
    --color-line-number: #d0d0d0;
    --color-line-number-hover: #ffffff;
}

.logs-options {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--color-background);
    padding: 10px;
    border-bottom: 1px solid var(--color-background-darker);
}

.color-theme-option {
    width: 90px;
    margin-left: 40px;
}

.selected-line .log-number {
    position: relative;
}

.selected-line .log-number:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: var(--color-line-selected);
    border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
}

.selected-line .log-line:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: var(--color-line-selected);
    border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
}

.header-hidden {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.sticky-header {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 50px;
    height: 50px;
    z-index: 100;
    height: 50px;
    content: "";
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-background-darker);
}

.sticky-option {
    position: fixed;
    z-index: 101;
    top: 12px;
    right: 30px;
}

.sticky-header h1 {
    margin: 0 10px;
    font-size: 15px;
}

.sticky-header h1 a{
    font-size: 15px;
}

/* Theme switch */

.theme-switch__input,
.theme-switch__label {
	position: absolute;
	z-index: 1;
}

.theme-switch__input {
	opacity: 0;
}

.theme-switch__input:hover + .theme-switch__label,
.theme-switch__input:focus + .theme-switch__label {
    background-color: var(--color-grey);
}

.theme-switch__input:hover + .theme-switch__label span::after,
.theme-switch__input:focus + .theme-switch__label span::after {
	background-color: lighten(lightBlue, 10%);
}

.theme-switch__label {
	transition: background-color 200ms ease-in-out;
	width: 50px;
	height: 20px;
	border-radius: 50px;
	text-align: center;
	background-color: var(--color-background-darker);
}

.theme-switch__label::before,
.theme-switch__label::after {
    font-size: 1rem;
    position: absolute;
    transform: translate3d(0, -50%, 0);
    top: 50%;
}

.theme-switch__label::before {
    content: '\263C';
    right: 100%;
    margin-right: 10px;
    color: orange;
}

.theme-switch__label::after {
    content: '\263E';
    left: 100%;
    margin-left: 10px;
    color: lightSlateGray;
}

.theme-switch__label span {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0;
    width: 100%;
}

.theme-switch__label span::after {
    position: absolute;
    top: calc(100% + 12px);
    left: 5px;
    width: 15px;
    height: 15px;
    content: '';
    border-radius: 50%;
    background-color: var(--main-color);
    transition: transform 200ms, background-color 200ms;
}

.theme-switch__input:checked ~ .theme-switch__label::before {
    color: lightSlateGray;
}

.theme-switch__input:checked ~ .theme-switch__label::after {
    color: turquoise;
}

.theme-switch__input:checked ~ .theme-switch__label span::after {
    transform: translate3d(25px, 0, 0);
}